@model CafeManager.ViewModels.TableViewModel

@{
}

<div class="align-content-center">
    <h1>Create Table</h1>
</div>
<form asp-controller="Table" asp-action="CreateTable" method="post">
    <div class="mb-3">
        <label class="form-label">Places number</label>
        <input asp-for="PlacesNumber" type="number" min="1" value="1" class="form-control"/>
    </div>
    <div class="mb-3">
        @Html.LabelFor(m => m.WaiterId)
        @Html.DropDownListFor(model => model.WaiterId, Model.WaiterList, "Select Waiter", new {@class = "form-control"})
        @Html.ValidationMessageFor(m => m.WaiterId)
    </div>
    
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">
            <h3>Submit</h3>
        </button>
    </div>
    
</form>