@model CafeManager.ViewModels.TableViewModel

@{
}

<div class="align-content-center">
    <h1>Edit Table</h1>
</div>
<form asp-controller="Table" asp-action="EditTable" method="post">
    <div class="mb-3">
        <input asp-for="Id" type="hidden" class="form-control" />
    </div>
    <div class="mb-3">
        <label class="form-label">Places number</label>
        <input asp-for="PlacesNumber" type="number" class="form-control" min="1" value = "@Model.PlacesNumber"/>
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">
            <h3>Submit</h3>
        </button>
    </div>
    
</form>