@{
    
}

<div class="text-center">
    <h1 class="display-4 mb-2">Welcome</h1>
    <a href="/Home/GetDish" class=" mb-2 w-50 btn btn-secondary m-auto">Get the dish of the day</a>
    <a href="/Home/GetSales" class=" mb-2 w-50 btn btn-secondary m-auto">Get Sales for the date</a>
</div>