@model CafeManager.Application.Paging.PagedList<CafeManager.Core.StatisticsModels.WaiterStatisticsModel>

@{
    
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
      
</div>
</body>
</html>