
@{
    
}

<div class="text-center mb-4">
    <h1> Statistics </h1>
</div>

<div class=" text-center mb-2">
    <a href="/Statistics/GetDishes" class=" m-auto btn btn-secondary w-50 mb-2">Get TOP 10 Dishes</a>
    <br/>
    <a href="/Statistics/GetLeastBusyDay" class="btn btn-secondary w-50 mb-2">Get Date With Least Orders</a>
    <br/>
    <a href="/Statistics/GetWaiters" class="btn btn-secondary w-50 mb-2">Get Statistics For Waiters</a>
    <br/>
    <a href="/Statistics/GetTable" class="btn btn-secondary w-50 mb-2">Get The Busiest Table</a>
</div>