@model CafeManager.Application.Paging.PagedList<CafeManager.Core.Entities.Dish>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mb-4">
    <h1> Dishes </h1>
    <div class="p-3 d-flex justify-content-end">
        <a href="/Dish/Create" class="btn rounded-circle btn-secondary">+</a>
    </div>
    
    <div><h1></h1></div>
</div>
<div class="container">
    <div class="row">
        
        @foreach (var d in Model)
        {
            <div class="col-4">
                <img src="@d.Image" style="object-fit: cover" class="w-100 h-100"/>
                <h3>@d.Name, @d.Price.ToString()</h3>
                <div class="btn-group" role="group" aria-label="Basic example">
                  <a href="/Dish/Edit/@d.Id.ToString()" type="button" class="btn btn-outline-secondary">Edit</a>
                  <a href="/Dish/DeleteDish/@d.Id.ToString()" type="button" class="btn btn-outline-secondary">Delete</a>
                  <a href="/Dish/Details/@d.Id.ToString()" type="button" class="btn btn-outline-secondary">Details</a>
                </div>
            </div>
        }
        
        
    </div>
</div>

